.side
  .header
    %h3.header__name
      seo
    %ul.header__lists
      %li.list
        = link_to do
          = icon("fas", "edit")
      %li.list
        = link_to do
          = icon("fas", "cog")

  .side__groups
    .side__groups__group
      .group__group-name 
        sample
      .group__latest-message
        Good bye world!